# --- Node / React ---
node_modules/
build/
dist/
.env
.env.local
.DS_Store
npm-debug.log*
yarn-debug.log*
yarn-error.log*
package-lock.json

# --- Django / Python ---
__pycache__/
*.py[cod]
*.sqlite3
*.log
*.pot
*.pyc
*.pyo
*.pyd
*.db
*.swp
media/
staticfiles/
.env
venv/
env/
db.sqlite3

# --- IDE / OS ---
.vscode/
.idea/
*.bak
Thumbs.db
